*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Arial",cursive;
}

#cabecalho{
    height: 10vh;

    background-color: rgb(241, 243, 141);

    display:flex;
    justify-content: center;
    align-items: center;
}

#conteudo{
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#conteudo_superior{
    height: 50%;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#conteudo_inferior{
    height: 50% ;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

#palavra{
    margin: auto auto;
}

#letras{
    list-style-type: none;

    display:flex;

    font-size:70px;

}
#letras li{
    margin: 0 25px 0 25px;
}

#desenho_forca{
    width: 10%;
    height: 10%;

    position: absolute;
}

#teclado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 50px;
    height: 50px;

    font-size: 16pt;

    margin: 5px;
}

#informacoes{
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#vidas{
    margin: 0 1% 0 0;
}

.esconder{
    display: none !important;
}

#perdeu{
    color: red;
}

#perdeu_jogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jogar_novamente{
    width: auto;
}
